[user]
	email = mcgruderlaw@gmail.com
	name = David E. McGruder
[core]
[core]
#[url "git@github.com:"]
	#insteadOf = https://github.com/
#[url "ssh://git@github.com/"]
#	insteadOf = https://github.com/
[ssh]
	variant = ssh
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
